.section-three {
  background: linear-gradient(
    180deg,
    rgba(212, 117, 9, 0.63) 27.64%,
    #4a0677 85.39%,

    rgba(255, 255, 255, 0.815) 127.78%
  );

  padding-bottom: 40px;
}
.card {
  height: 571px;
  width: 510px;
  border-radius: 68px;
  background: rgba(233, 222, 229, 1);
  flex: 1 1 calc(33.3% - 30px);
}
.igcse-subs {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-inline: 32px;
}
.h-three-card {
  color: rgba(78, 89, 107, 1);
  font-size: 25px;
  font-style: Semibold;
  font-weight: 600;
}
.p-three-card {
  color: rgba(78, 89, 107, 1);
  font-size: 14px;
  font-style: Medium;
  font-weight: 500;
}
.p-three-para {
  color: rgba(78, 89, 107, 1);
  margin-left: 32px;
  margin-top: 20px;
  font-size: 13px;
  font-style: Medium;
  font-weight: 500;
  margin-bottom: 45px;
}
.a-section-three {
  text-align: center;
}

.vc {
  font-style: Medium;
  font-weight: 500;
  font-size: 20px;

  background: linear-gradient(rgba(51, 19, 139, 1), rgba(127, 86, 217, 1));
  text-align: center;
  border-radius: 68px;
  padding: 20px 40px;
}
.flex-two {
  display: flex;
  background: rgba(76, 43, 148, 0.44);

  margin: 40px;
  padding: 50px;
  gap: 30px;
  flex-wrap: wrap;
}
.h-three {
  color: rgba(95, 50, 147, 1);
  text-align: center;
  font-size: 45px;
  font-style: Semibold;
  font-weight: 600;
  padding-top: 80px;
  line-height: 0px;
}
