.tutorials {
  color: rgba(222, 124, 6, 0.98);
  font-size: 45px;
  font-style: Bold;
  font-weight: 700;
}
.p-two {
  font-weight: 400;
  font-style: Regular;
  font-size: 40px;
  color: rgba(115, 76, 204, 1);
}
.h-p {
  text-align: center;
  margin-top: 50px;
}
.video-section {
  width: 100%;
  margin: auto;
  position: relative;
  margin-bottom: 60px;
}
.circle {
  position: absolute;
  bottom: -50px;
  left: 70px;
  width: 103px;
}
.pur-circle {
  width: 103px;
  position: absolute;
  right: 10px;
  top: 170px;
}
.curve {
  position: absolute;
  width: 114px;
  top: 70px;
  left: 90px;
}

.section-two {
  width: 1100px;
  margin: auto;
}
.slick-slide img {
  width: 960px;
  margin: auto;
}
.slick-prev,
.slick-next {
  display: none !important;
}
