.whyus-section {
  background: linear-gradient(
    256.52deg,
    rgba(95, 50, 147, 1) -43.86%,
    rgba(101, 24, 190, 1) 7.04%
  );
}
.flex-five {
  display: flex;
  justify-content: space-between;
  margin-inline: 250px;
  gap: 100px;
  margin-top: 80px;
  padding-bottom: 100px;
}
.y {
  flex: 1;
  text-align: center;
  padding: 20px;
}
.y:not(:last-child) {
  border-right: 1px dashed rgba(225, 225, 225, 0.6);
}
.h-p-why {
  padding-top: 80px;
  text-align: center;
}
.span-five {
  font-size: 45px;
  font-style: bold;
  font-weight: 700;
  color: rgba(245, 139, 39, 1);
}
.h-five {
  font-size: 45px;
  font-style: bold;
  font-weight: 700;
}
.p-five {
  font-size: 25px;
  font-style: Medium;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  margin-top: 40px;
}
.p-sec-five {
  font-size: 25px;
  font-style: Medium;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}
.span-p-five {
  font-size: 25px;
  font-style: Medium;
  font-weight: 500;
  color: rgba(245, 139, 39, 1);
}
.i-why {
  margin-bottom: 40px;
  margin-left: 60px;
}
.h-why {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 40px;
  margin-right: 80px;
}
.p-why {
  font-weight: 500;
  font-size: 20px;
  margin-right: 70px;
}
.p-s-why {
  color: rgba(243, 159, 76, 1);

  font-weight: 500;
  font-size: 20px;
}
